<?xml version="1.0"?>
<config>
    <modules>
        <Bassi_Imageslider>
            <version>1.0.5</version>
        </Bassi_Imageslider>
    </modules>
    <global>
        <helpers>
            <imageslider>
                <class>Bassi_Imageslider_Helper</class>
            </imageslider>
        </helpers>		
		<models>
            <imageslider>
                <class>Bassi_Imageslider_Model</class>
                <resourceModel>imageslider_mysql4</resourceModel>
            </imageslider>
            <imageslider_mysql4>
                <class>Bassi_Imageslider_Model_Mysql4</class>
                <entities>
                    <imageslider>
                        <table>bassiimageslider</table>
                    </imageslider>
                </entities>
            </imageslider_mysql4>
        </models>		
		
		<blocks>
			<imageslider>
				<class>Bassi_Imageslider_Block</class>
			</imageslider>
		</blocks>
        <resources>
            <imageslider_setup>
                <setup>
                    <module>Bassi_Imageslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imageslider_setup>
            <imageslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imageslider_write>
            <imageslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imageslider_read>
        </resources>
    </global>
	<default>
        <imageslider>
            <general>
                <enabled>1</enabled>
				<style>random</style>
				<thumbnails>pagination</thumbnails>
				<slidingtime>4</slidingtime>
				<slidingeffecttime>2</slidingeffecttime>
				<loader>pie</loader>
				<navigation>1</navigation>
				<imagewidth></imagewidth>
				<imageheight></imageheight>
				<description>1</description>				
            </general>
			<style>
				<navcolor>#DBD5D0</navcolor>
				<paginationcolor>#999999</paginationcolor>
				<paginationdotcolor>#333333</paginationdotcolor>
				<captionbgcolor>#333333</captionbgcolor>
				<captiontextcolor>#FFFFFF</captiontextcolor>
				<loaderColor>#DBD5D0</loaderColor>
				<loaderBgColor>#000000</loaderBgColor>
				
			</style>
        </imageslider>
		
    </default>
    <frontend>		
		<routers>
            <imageslider>
                <use>standard</use>
                <args>
                    <module>Bassi_Imageslider</module>
                    <frontName>imageslider</frontName>
                </args>
            </imageslider>
        </routers>	
    </frontend> 
	
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bassi_Imageslider after="Mage_Adminhtml">Bassi_Imageslider_Adminhtml</Bassi_Imageslider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	
	<adminhtml>		
		<layout>
			<updates>
				<imageslider>
					<file>imageslider.xml</file>
				</imageslider>
			</updates>
		</layout>
    </adminhtml>
	
</config>